<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('.addToSelectedList').click(function () {
                let integerVal = $(this).data('integer');
                let stringValue = $(this).data('string');

                let currentValues = $('#selectedValues').text();
                currentValues += integerVal + ' ';
                $('#selectedValues').text(currentValues);

                // Set the value of the hidden input field
                $('#choice').val(currentValues); // Changed ID to 'choice'
            });
        });
    </script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Integer</th>
        <th>String</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${map}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
        <td>
            <a href="#" class="addToSelectedList"
               th:data-integer="${entry.key}" th:data-string="${entry.value}">
                Add to List
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div id="selectedValues"></div>

<form id="selectedValuesForm" th:action="@{/choose}" method="get">
    <input type="hidden" id="choice" name="choice" />
    <input type="submit" value="Process Selected List"/>
</form>

</body>
</html>